In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [23]:
df=pd.read_excel('cleanadd.xlsx')
df

,Unnamed: 0,GRE Score,TOEFL Score,University Rating,CGPA,Research,Chance of Admit
0,0,337,118,4,9.65,1,0.92
1,1,324,107,4,8.87,1,0.76
2,2,316,104,3,8.00,1,0.72
3,3,322,110,3,8.67,1,0.80
4,4,314,103,2,8.21,0,0.65
...,...,...,...,...,...,...,...
495,495,332,108,5,9.02,1,0.87
496,496,337,117,5,9.87,1,0.96
497,497,330,120,5,9.56,1,0.93
498,498,312,103,4,8.43,0,0.73
499,499,327,113,4,9.04,0,0.84

In [24]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [26]:
x=df.drop('Chance of Admit',axis=1)
y=df['Chance of Admit']
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=9)

In [27]:
xtrain.count()

GRE Score            400
TOEFL Score          400
University Rating    400
CGPA                 400
Research             400
dtype: int64

In [28]:
xtest.count()

GRE Score            100
TOEFL Score          100
University Rating    100
CGPA                 100
Research             100
dtype: int64

In [29]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(xtrain,ytrain)
print("model coefficient:",model.coef_)
print("model intercept:",model.intercept_)

ypred_train=model.predict(xtrain)
ypred_test=model.predict(xtest)
print("-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-")
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
print("trian r2:",r2_score(ytrain,ypred_train))
print("cross validation score:",cross_val_score(model,xtrain,ytrain,cv=5,scoring='r2').mean())
print("test r2:",r2_score(ytest,ypred_test))

model coefficient: [0.00189911 0.00309936 0.0140138  0.12325457 0.02256722]
model intercept: -1.326781588711699
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
trian r2: 0.8157212911281089
cross validation score: 0.8064089068041312
test r2: 0.8066077652706976

In [30]:
df

,GRE Score,TOEFL Score,University Rating,CGPA,Research,Chance of Admit
0,337,118,4,9.65,1,0.92
1,324,107,4,8.87,1,0.76
2,316,104,3,8.00,1,0.72
3,322,110,3,8.67,1,0.80
4,314,103,2,8.21,0,0.65
...,...,...,...,...,...,...
495,332,108,5,9.02,1,0.87
496,337,117,5,9.87,1,0.96
497,330,120,5,9.56,1,0.93
498,312,103,4,8.43,0,0.73
499,327,113,4,9.04,0,0.84

In [32]:
model.predict([[335,112,3,9.55,2]])

C:\Users\91950\anaconda3\New folder\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.92080582])

In [33]:
import pickle

In [35]:
#saving model to disk
pickle.dump(model,open('model.pkl','wb'))

In [36]:
#loading model to compare the result
reg_model=pickle.load(open('model.pkl','rb'))

In [37]:
#compare the result
reg_model.predict([[335,150,3,9,0]])

C:\Users\91950\anaconda3\New folder\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.92565689])